<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Historial de Ventas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="datosVentas && datosVentas.length > 0">
    <div class="table-container">
      <table>
        <tr>
          <th>Fecha</th>
          <th>Descripción</th>
          <th>Total</th>
          <th>Tipo de Pago</th>
        </tr>
        <tr *ngFor="let venta of datosVentas">
          <td>{{ venta.fecha }}</td>
          <td>{{ venta.descripcion }}</td>
          <td>{{ venta.total }}</td>
          <td>{{ venta.tipopago }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div *ngIf="!datosVentas || datosVentas.length === 0">
    <p>No se encontraron datos de ventas.</p>
  </div>
</ion-content>
