<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Historial de Ventas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Elemento para mostrar el gráfico de barras -->
  <div class="chart-container">
    <canvas id="barChart"></canvas>
  </div>



  <h2 class="ion-text-center" style="margin-top: 50px;">Productos Más vendidos</h2>
  <!--seleccionar el año -->
  <ion-item style="margin-top:40px;">
    <ion-label>Año</ion-label>
    <ion-select [(ngModel)]="anioSeleccionado" (ionChange)="seleccionarAnio($event)">
      <ion-select-option *ngFor="let anio of anios" [value]="anio">{{ anio }}</ion-select-option>
    </ion-select>
  </ion-item>

  <!--seleccionar el mes -->
  <ion-item>
    <ion-label>Mes</ion-label>
    <ion-select [(ngModel)]="mesSeleccionado" placeholder="Mes" (ionChange)="seleccionarMes($event)">
      <ion-select-option *ngFor="let mes of nombresMeses" [value]="mes">{{ mes }}</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Mostrar el Top 3 de productos más vendidos -->
  <div *ngIf="productosMasVendidos.length > 0; else noProductos">
    <h2>-Top 3 Productos más vendidos-</h2>
    <ion-list>
      <ion-item *ngFor="let producto of productosMasVendidos.slice(0, 3)">
        {{ producto.nombre }} - Cantidad vendida: {{ producto.cantidad }}
      </ion-item>
    </ion-list>
  </div>
  <ng-template #noProductos>
    <p>Seleccione para conocer los productos más vendidos {{ mesSeleccionado }} ({{ anioSeleccionado }}).</p>
  </ng-template>
</ion-content>





