
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title color="Shade"> mi cuenta </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
<ion-card> 
    <ion-item>
      <ion-icon name="accessibility-outline"></ion-icon>
      <ion-card-content>
        <h6> Nicolas Silva </h6>
        <h6> Trek marlin 5 </h6>
        <h6>run:  24.586.369-5 </h6>
        <h6> Tele: 912458536 </h6>
        <h6> correo:correo@gmail.com </h6>
      </ion-card-content>
    </ion-item>

    
</ion-card>
</ion-content>