.event-verde {
  background-color: green;
  color: white;
}

.event-amarillo {
  background-color: yellow;
  color: white;
}

.event-morado {
  background-color: purple;
  color: white;
}

.event-rojo {
  background-color: red;
  color: white;
}

.evento-en-proceso {
  color: black !important;
}


