<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Lista de Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="datosAppPersona && datosAppPersona.length > 0">
    <div class="table-container">
      <table>
        <tr>
          <!--<th>Fecha de registro</th>-->
          <th>Nombre del producto</th>
          <th (click)="ordenarDatos('stock')">
            Stock
            <ion-icon *ngIf="ordenAscendente && campoOrdenado === 'stock'" name="arrow-up"></ion-icon>
            <ion-icon *ngIf="!ordenAscendente && campoOrdenado === 'stock'" name="arrow-down"></ion-icon>
          </th>
          <th>Marca</th>
          <th>Descripcion</th>
          <th>Precio unitario</th>
          
        </tr>
        <tr *ngFor="let trabajador of datosAppPersona">
          <!--<td>{{ trabajador.fecha_registro }}</td>-->
          <td>{{ trabajador.nombre_producto }}</td>
          <td [ngClass]="{'stock-rojo': trabajador.stock < 6, 'stock-verde': trabajador.stock >= 6}">
            {{ trabajador.stock }}
          </td>
          <td>{{ trabajador.marca }}</td>
          <td>{{ trabajador.descripcion }}</td>
          <td>{{ trabajador.precio_unitario }}</td>
          
        </tr>
      </table>
    </div>
  </div>
  <div *ngIf="!datosAppPersona || datosAppPersona.length === 0">
    <p>No se encontraron datos de Productos.</p>
  </div>
</ion-content>

