<ion-header [translucent]="true">
  <div>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title color="primary">Ayuda</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ayuda</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      ¿Qué puedo hacer para cambiar mis datos o los de otros?
    </ion-card-header>
    <ion-card-content>
      Puedes cambiar tus datos y los datos de los clientes o empleados dentro de la página web.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      ¿Dónde puedo agregar datos?
    </ion-card-header>
    <ion-card-content>
      Todo eso se puede hacer desde la página web.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      ¿Qué puedo hacer si tengo problemas técnicos con la app y/o dudas?
    </ion-card-header>
    <ion-card-content>
      Puedes comunicarte directamente con nosotros escribiéndonos vía WhatsApp: <a href="https://wa.me/+56949406793" target="_blank">
        <ion-icon name="logo-whatsapp"></ion-icon> +56949406793
      </a>
      
    </ion-card-content>
  </ion-card>
</ion-content>
