ion-content {
  font-family: 'Poppins', sans-serif;
  --background: linear-gradient(#a7a7a7, #a7a7a7);
}

.image-container {
  text-align: center;
  margin-top: 20px;
}

oval-button {
  background-color: #2d4862;
  width: 80px;
  height: 80px;
  border-radius: 50%; /* Hace que el botón sea completamente redondo */
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ion-icon {
  font-size: 40px;
  color: white;
}

.button-text {
  font-size: 0.8em;
  color: white;
  margin-top: 5px;
}

/* Agregar margen (padding) a los elementos ion-col */
ion-col {
  padding: 10px;
}

button-box {
  text-align: left;
  margin-left: 1px;
}

button-text {
  margin-top: 5px;
  margin-left: 1px;
}

  