<ion-content>
  <ion-header [translucent]="true">
    <div>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
    </div>
  </ion-header>

  <ion-content class="ion-padding">
    <div class="image-container">
      <!-- Coloca aquí tu imagen -->
      <img src="/assets/imagen/logo.png" alt="Imagen">
    </div>

    <div class="button-container">
      <ion-row class="ion-justify-content-center">
        <ion-col size="4" class="ion-text-center">
          <ion-button class="oval-button" (click)="navigateToHistorialClientes()">
            <ion-icon name="people-outline"></ion-icon>
            <p class="button-text">Historial clientes</p>
          </ion-button>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          <ion-button class="oval-button" (click)="navigateToHistorialVentas()">
            <ion-icon name="bar-chart-outline"></ion-icon>
            <p class="button-text">Historial ventas</p>
          </ion-button>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          <ion-button class="oval-button" (click)="navigateToCalendar()">
            <ion-icon name="bicycle-outline"></ion-icon>
            <p class="button-text">Trabajos taller</p>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="4" class="ion-text-center">
          <ion-button class="oval-button" (click)="navigateToTrabajadores()">
            <ion-icon name="man-outline"></ion-icon>
            <p class="button-text">Trabajadores</p>
          </ion-button>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          <ion-button class="oval-button" (click)="navigateToMiCuenta()">
            <ion-icon name="person-outline"></ion-icon>
            <p class="button-text">Mi cuenta</p>
          </ion-button>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          <ion-button class="oval-button" (click)="navigateToAyuda()">
            <ion-icon name="chatbubble-outline"></ion-icon>
            <p class="button-text">Ayuda</p>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-content>
</ion-content>

