<ion-content>
  <ion-header [translucent]="true">
    <div>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
    </div>
  </ion-header>


  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Menú de Aplicación
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">

    <swiper-container>
      <swiper-slide>
        <ion-card class="custom-card">
          <div class="slide-content">
            <p>Total de clientes : {{ totalClientes }}</p>
            <p>Total de productos : {{ totalProductos }}</p>
            <p>Cantidad de productos por vencer: {{ productosPorVencer }}</p>
            <p>Cantidad de ventas este mes: {{ cantidadVentasMesActual }}</p>
          </div>
        </ion-card>
      </swiper-slide>
    </swiper-container>
    

    
    <div class="button-container">
      <ion-row class="ion-justify-content-center">
        <ion-col routerLink="/historial-cliente" size="4" class="ion-text-center">
          <ion-button class="oval-button">
            <ion-icon name="people-outline"></ion-icon>
          </ion-button>
          <p class="button-text">Historial clientes</p>
        </ion-col>
        <ion-col routerLink="/historial-ventas" size="4" class="ion-text-center">
          <ion-button class="oval-button">
            <ion-icon name="bar-chart-outline"></ion-icon>
          </ion-button>
          <p class="button-text">Historial ventas</p>
        </ion-col>
        <ion-col routerLink="/calendar" size="4" class="ion-text-center">
          <ion-button class="oval-button">
            <ion-icon name="bicycle-outline"></ion-icon>
          </ion-button>
          <p class="button-text">Trabajos taller</p>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col routerLink="/trabajadores" size="4" class="ion-text-center">
          <ion-button class="oval-button">
            <ion-icon name="bag-outline"></ion-icon>
          </ion-button>
          <p class="button-text">Productos</p>
        </ion-col>
        <ion-col routerLink="/mi-cuenta" size="4" class="ion-text-center">
          <ion-button class="oval-button">
            <ion-icon name="person-outline"></ion-icon>
          </ion-button>
          <p class="button-text">Mi cuenta</p>
        </ion-col>
        <ion-col routerLink="/ayuda" size="4" class="ion-text-center">
          <ion-button class="oval-button">
            <ion-icon name="chatbubble-outline"></ion-icon>
          </ion-button>
          <p class="button-text">Ayuda</p>
        </ion-col>
      </ion-row>
      
      
    </div>
    <div id="boton-cerrar-sesion" style="position: absolute; bottom: 120px; left: 50%; transform: translateX(-50%);">
      <ion-button class="boton-cerrar-sesion" (click)="cerrarSesion()">Cerrar Sesión</ion-button>
    </div>
  
    
  </ion-content>
  
    

</ion-content>

