<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="Shade"> Taller </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button  color="tertiary" size="small">Trabajos activos</ion-button>
  <ion-button color="medium" size="small">Trabajos anteriores</ion-button>
  
  <ion-content color="light">
    <ion-list [inset]="true">
  
      <ion-item>
        <ion-icon name="cart-outline"></ion-icon>
          <ion-label>
            <h6>producto</h6>  
            <h6>02/10/2023</h6>
          </ion-label>
      </ion-item>
  
      <ion-item>
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>
          <h6>producto</h6>  
          <h6>02/10/2023</h6>
        </ion-label>
      </ion-item>
  
      <ion-item>
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label> 
          <h6>producto</h6>  
          <h6>02/10/2023</h6>
        </ion-label>
      </ion-item>
  
      <ion-item>
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label> 
          <h6>producto</h6>  
          <h6>02/10/2023</h6>
        </ion-label>
      </ion-item>
  
      <ion-item>
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label> 
          <h6>producto</h6>  
          <h6>02/10/2023</h6>
        </ion-label>
      </ion-item>
  
    </ion-list>
  </ion-content>