<ion-header [translucent]="true">
  <div>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title color="primary">Trabajos del Taller</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let dato of datosAppTaller">
      <ion-label>
        <h2>{{ dato.nombre_trabajo }}</h2>
        <p>Descripción: {{ dato.descripcion }}</p>
        <p>Valor: {{ dato.valor }}</p>
        <p>Estado: {{ dato.estado }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
  <div *ngIf="!datosAppTaller || datosAppTaller.length === 0">
    <p>No se encontraron trabajos en el taller.</p>
  </div>
</ion-content>
