<ion-header [translucent]="true">
  <div>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title color="primary">Historial cliente</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size="8">
      <!-- Bind al modelo de búsqueda -->
      <ion-input placeholder="Filtrar Rut" [(ngModel)]="searchRut"></ion-input>
    </ion-col>
    <ion-col size="2">
      <!-- Botón para realizar la búsqueda con tamaño pequeño y icono de búsqueda -->
      <ion-button expand="full" size="small" class="search-button" (click)="filterData()">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-col>
    
    <ion-col size="2">
      <!-- Botón de reset con icono de reset -->
      <ion-button expand="full" size="small" class="reset-button" (click)="resetFilters()">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-col>
    
  </ion-row>
  

  <!-- Tu tabla de datos -->
  <div *ngIf="filteredDatosAppCliente && filteredDatosAppCliente.length > 0">
    <div class="table-container">
      <table>
        <tr>
          <th>RUT</th>
          <th>Nombre</th>
          <th>Apellido Paterno</th>
          <th>Apellido Materno</th>
          <th>Email</th>
          <th>Teléfono</th>
        </tr>
        <tr *ngFor="let dato of filteredDatosAppCliente">
          <td>{{ dato.rut_cliente }}</td>
          <td>{{ dato.nombre_cliente }}</td>
          <td>{{ dato.apePaterno }}</td>
          <td>{{ dato.apeMaterno }}</td>
          <a href="mailto:{{ dato.email }}" style="color: blue;">{{ dato.email }}</a>
          <td>{{ dato.fono }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div *ngIf="!filteredDatosAppCliente || filteredDatosAppCliente.length === 0">
    <p>No se encontraron coincidencias.</p>
  </div>
</ion-content>


