<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="Shade"> Historial </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card> 
  <ion-item>
    <ion-icon name="accessibility-outline"></ion-icon>
    <ion-card-content>
      <h6> Nicolas Silva </h6>
      <h6> Trek marlin 5 </h6>
      <h6>run:  24.586.369-5 </h6>
      <h6> Tele: 912458536 </h6>
      <h6> correo:correo@gmail.com </h6>
    </ion-card-content>
  </ion-item>
</ion-card>

<ion-content>
<ion-button  color="tertiary" size="small">Compras</ion-button>
<ion-button color="medium" size="small">Trabajos taller</ion-button>

<ion-content color="light">
  <ion-list [inset]="true">

    <ion-item>
      <ion-icon name="cart-outline"></ion-icon>
        <ion-label>
          <h6>producto</h6>  
          <h6>02/10/2023</h6>
        </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>
        <h6>producto</h6>  
        <h6>02/10/2023</h6>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label> 
        <h6>producto</h6>  
        <h6>02/10/2023</h6>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label> 
        <h6>producto</h6>  
        <h6>02/10/2023</h6>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label> 
        <h6>producto</h6>  
        <h6>02/10/2023</h6>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
</ion-content>


</ion-content>
 