<ion-header [translucent]="true">
  <div>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title color="primary">Historial</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <ion-list *ngIf="clientes">
    <ion-item *ngFor="let cliente of clientes">
      <ion-label>
        <h2>{{ cliente.nombre_cliente }} {{ cliente.apePaterno }} {{ cliente.apeMaterno }}</h2>
        <p>RUT: {{ cliente.rut_cliente }}</p>
        <p>Email: {{ cliente.email }}</p>
        <p>Teléfono: {{ cliente.fono }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
