
table {
  width: 100%;
  border-collapse: collapse;
}




table, th, td {
  max-width: 150px; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.table-container {
  overflow-x: auto;
  overflow-y: auto; 
  max-width: 100%; 
  max-height: 300px; 
}


table, th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

th {
  background-color: #007bff;
  color: white;
}


tr:nth-child(odd) {
  background-color: #f2f2f2;
}


tr:hover {
  background-color: #e0e0e0;
}

.search-button {
  margin-top: 10px;
  margin-right: auto;
   
}

.search-button,
.reset-button {
  margin-top: 12px; /* Ajusta el espacio superior según tu preferencia */
  //width: 200%; /* O ajusta el porcentaje de ancho según tus necesidades */
  font-size: 14px; /* Ajusta el tamaño de la fuente según tus necesidades */
  border-radius: 10px; /* Ajusta el radio de borde para hacer los botones más redondeados */
}


  